<p>autrepage works!</p>
<input type="text" #leFiltre placeholder="chercher">
<button (click)="fruitFilter(leFiltre.value)" class="btn btn-primary">cherche !</button>

<app-fruit *ngFor="let unFruit of filteredFruits" [leFruit]="unFruit"></app-fruit>

<form
[formGroup]="fruitForm"
(submit)="sendFruit()"
>
  <input type="text" formControlName="name" >
  <input type="text" formControlName="couleur" >

  <button type="submit" class="btn btn-success">add fruit</button>

</form>

<h3>salut je suis une autre page</h3>
